@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('/src/fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: 'Inter', sans-serif;
}